<!--<div>
  <tr>
    <td width="25%" style="text-align: left;">
      <img src="assets/img/logo.png" alt="votacao" style="width: 15%;">
    </td>
  </tr>
</div>-->
<div class="container">
  <div class="profile-dropdown">
    <button class="profile-button">
      <i class="bi bi-person-circle" style="font-size: 1.5rem;"></i> Perfil Teste
    </button>

    <!-- Dropdown Menu -->
    <div class="dropdown-content">
      <a href="#">  <i class="bi bi-box-arrow-right" style="margin-left:10px;margin-right:10px;"></i>Sair</a>
    </div>
  </div>
</div>
<div class="card mb-4">
  <div class="card-header py-3 d-flex align-items-center justify-content-between bg-transparent" style="height: 92px;">
    <h1 class="m-0">Lista de aprendizes</h1>
  </div>
  <div class="button-container">
    <button class="btn btn-primary rounded d-flex align-items-center btn-add" (click)="cadastrar()">
      <span class="d-none d-md-block">Adicionar aprendiz</span>
    </button>

  </div>

  <div class="mb-3">
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th style="width: 150px;">Ações</th>
              <th>Status</th>
              <th>Nome</th>
              <th>Sobrenome</th>
              <th>E-mail</th>
            </tr>
            <tr>
              <th>
              </th>
              <th>
                <select class="form-control filter" style="margin-left:20px;" [(ngModel)]="filter.ativo" (change)="applyFilters()">
                  <option [ngValue]="undefined">Selecione...</option>
                  <option [ngValue]="true">ATIVO</option>
                  <option [ngValue]="false">INATIVO</option>
                </select>
              </th>
              <th>
                <input class="form-control filter" placeholder="Filtrar Nome" style="margin-left:50px;" [(ngModel)]="filter.nome_completo" name="nome_completo" (input)="applyFilters()">
              </th>
              <th>
                <input class="form-control filter" placeholder="Filtrar sobrenome" style="margin-left:50px;" [(ngModel)]="filter.username" name="username" (input)="applyFilters()">
              </th>
              <th>
                <input class="form-control filter" placeholder="Filtrar E-mail" style="margin-left:35px;" [(ngModel)]="filter.email" name="email" (input)="applyFilters()">
              </th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let estagiario of filteredEstagiarios">
              <td>
                <button class="editar" title="Editar" [routerLink]="['/editar-aprendiz', estagiario.id]">
                  <i class="fas fa-pencil-alt"></i> Editar
                </button>
                <button class="excluir" title="Excluir" (click)="excluirEstagiario(estagiario)">
                  <i class="fas fa-trash"></i> Excluir
                </button>
              </td>
              <td>{{ estagiario.ativo ? 'ATIVO' : 'INATIVO' }}</td>
              <td>{{ estagiario.nome_completo }}</td>
              <td>{{ estagiario.username }}</td>
              <td>{{ estagiario.email }}</td>
            </tr>

            <tr *ngIf="filteredEstagiarios.length === 0">
              <td colspan="5" class="text-center">Não há registros</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
