<div>
  <tr>
    <td width="25%" style="text-align: left;">
      <img src="assets/img/logo.png" alt="votacao" style="width: 15%;">
    </td>
  </tr>
</div>
<div class="card mb-4">
  <div class="card-header py-3 d-flex align-items-center justify-content-between bg-transparent">
    <h1 class="m-0">Lista de aprendizes</h1>
    <div class="button-container">
      <button class="btn btn-primary rounded d-flex align-items-center btn-add" (click)="cadastrar()">
        <i class="fas fa-plus d-block mr-0 mr-md-2"></i>
        <span class="d-none d-md-block">Adicionar aprendiz</span>
      </button>
      
    </div>
  </div>

  <div class="mb-3">
    <div class="card-body">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th style="width: 150px;">Ações</th>
              <th>Status</th>
              <th>Nome Completo</th>
              <th>Username</th>
              <th>E-mail</th>
            </tr>
            <tr>
              <th>
                </th>
              <th>
                <select class="form-control filter" [(ngModel)]="filter.ativo" (change)="applyFilters()">
                  <option [ngValue]="undefined">Selecione...</option>
                  <option [ngValue]="true">ATIVO</option>
                  <option [ngValue]="false">INATIVO</option>
                </select>
              </th>
              <th>
                <input class="form-control filter" placeholder="Filtrar Nome" [(ngModel)]="filter.nome_completo" name="nome_completo" (input)="applyFilters()">
              </th>
              <th>
                <input class="form-control filter" placeholder="Filtrar Username" [(ngModel)]="filter.username" name="username" (input)="applyFilters()">
              </th>
              <th>
                <input class="form-control filter" placeholder="Filtrar E-mail" [(ngModel)]="filter.email" name="email" (input)="applyFilters()">
              </th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let estagiario of filteredEstagiarios">
              <td>
                <button class="editar" title="Editar">
                  <i class="fas fa-pencil-alt"></i> Editar
                </button>
                <button class="excluir" title="Excluir" (click)="excluirEstagiario(estagiario)">
                  <i class="fas fa-trash"></i> Excluir
                </button>
              </td>
              <td>{{ estagiario.ativo ? 'ATIVO' : 'INATIVO' }}</td>
              <td>{{ estagiario.nome_completo }}</td>
              <td>{{ estagiario.username }}</td>
              <td>{{ estagiario.email }}</td>
            </tr>

            <tr *ngIf="filteredEstagiarios.length === 0">
              <td colspan="5" class="text-center">Não há registros</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>