<div class="container">
  <div class="profile-dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="profileDropdown" data-bs-toggle="dropdown"
      aria-expanded="true">
      <i class="bi bi-person-circle me-2"></i> Perfil Teste
    </button>
    <ul class="dropdown-menu" aria-labelledby="profileDropdown">
      <li><a class="dropdown-item" href="#"><i class="bi bi-box-arrow-right me-2"></i>Sair</a></li>
    </ul>
  </div>
</div>

<div class="card mb-4">
  <div class="card-header py-3 d-flex align-items-center justify-content-between bg-transparent">
    <h1 class="m-0">Lista de aprendizes</h1>
  </div>

  <div class="card-body">
    <div class="d-flex justify-content-end mb-3">
      <button *ngIf="tipoUsuario === 'estagiario'" class="btn btn-primary" (click)="cadastrar()">Adicionar
        aprendiz</button>
    </div>

    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Ações</th>
            <th>Nome Completo</th>
            <th>E-mail</th>
            <th>Data de Nascimento</th>
            <th>Status</th>
            <th>Curso</th>
            <th>Empresa</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let estagiario of filteredEstagiarios">
            <td>
              <div class="btn-group" role="group">
                <button type="button" class="btn btn-outline-primary"
                  *ngIf="tipoUsuario === 'estagiario' && estagiario.id === usuarioId"
                  [routerLink]="['/editar-aprendiz', estagiario.id]">
                  <i class="fas fa-pencil-alt"></i>
                </button>

                <button type="button" class="btn btn-outline-danger"
                  *ngIf="tipoUsuario === 'empresa' || tipoUsuario === 'gestor'"
                  (click)="desvincularEstagiario(estagiario)">
                  <i class="fas fa-unlink"></i>
                </button>

                <button type="button" class="btn btn-outline-success"
                  *ngIf="tipoUsuario === 'empresa' || tipoUsuario === 'gestor'"
                  (click)="vincularEstagiario(estagiario)">
                  <i class="fas fa-link"></i>
                </button>
              </div>
            </td>
            <td>
              <a [routerLink]="['/perfil-aprendiz', estagiario.id]">{{ estagiario.nome_completo }}</a>
            </td>
            <td>{{ estagiario.email }}</td>
            <td>{{ estagiario.data_nascimento | date: 'dd/MM/yyyy' }}</td>
            <td>{{ estagiario.ativo ? 'ATIVO' : 'INATIVO' }}</td>
            <td>{{ estagiario.curso }}</td>
            <td>{{ estagiario.nome_empresa || 'Nenhuma' }}</td>
          </tr>

          <tr *ngIf="filteredEstagiarios.length === 0">
            <td colspan="7" class="text-center">Não há registros</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>