<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h3 class="text-center">Login da Empresa</h3>
        </div>
        <div class="card-body">
          <form (ngSubmit)="login()" class="needs-validation" novalidate>
            <div class="mb-3">
              <label for="nome" class="form-label">Nome da Empresa:</label>
              <input type="text" id="nome" class="form-control" [(ngModel)]="empresa.nome" name="nome" required>
            </div>
            <div class="mb-3">
              <label for="senha" class="form-label">Senha:</label>
              <input type="password" id="senha" class="form-control" [(ngModel)]="empresa.senha" name="senha" required>
            </div>
            <div class="d-grid gap-2">
              <button type="submit" class="btn btn-primary">Entrar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>