/* Estilo geral para o sidebar */
.sidebar {
  width: 250px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: #2D323E;
}

  .sidebar .nav-item {
    transition: background-color 0.3s ease;
    margin-left: 50px; /* Ajuste conforme necessário */
    display: inline-block !important; /* Permite que o background cubra apenas o conteúdo do texto */
    width: auto; /* Ajusta o item conforme o tamanho do conteúdo */
  }

    .sidebar .nav-item:hover {
      color: #0056b3; /* Cor de fundo ao passar o mouse */
      cursor: pointer;
    }

  .sidebar .nav-link {
    display: inline-flex; /* Flexbox para alinhar o ícone e o texto */
    align-items: center;
    justify-content: center;
    padding: 15px 15px; /* Ajuste o padding conforme necessário */
    width: auto; /* Garante que o link ocupe apenas o necessário */
  }

.nav-item .nav-link span {
  color: white;
}
