<ul class="navbar-nav bg-menu sidebar sidebar-dark accordion toggled" id="accordionSidebar">
  <div style="background-color:white;">
    <tr>
      <td width="100%" style="text-align: left;">
        <img src="assets/img/logo.png" alt="votacao" style="width: 80%;">
      </td>
    </tr>
  </div>
  <br />
  <br />
  <br />
  <br />

  <li class="nav-item" *ngIf="tipoUsuario === 'estagiario'">
    <a class="nav-link" title="Perfil" [routerLink]="['/perfil-aprendiz']">
      <i class="fas fa-user" style="color: white; width: 20px; margin-left: 50px;"></i>
      <span style="font-size:16px;">Perfil</span>
    </a>
  </li>

  <li class="nav-item" *ngIf="tipoUsuario === 'gestor'">
    <a class="nav-link" title="Perfil" [routerLink]="['/perfil-gestor']">
      <i class="fas fa-user" style="color: white; width: 20px; margin-left: 50px;"></i>
      <span style="font-size:16px;">Perfil</span>
    </a>
  </li>

  <li class="nav-item" *ngIf="tipoUsuario === 'empresa'">
    <a class="nav-link" title="Perfil" [routerLink]="['/perfil-empresa', empresaId]">
      <i class="fas fa-user" style="color: white; width: 20px; margin-left: 50px;"></i>
      <span style="font-size:16px;">Perfil</span>
    </a>
  </li>


  <li class="nav-item">
    <a class="nav-link" title="Aprendiz" [routerLink]="['/aprendiz']">
      <i class="fas fa-user-graduate" style="color: white; width: 20px; margin-left: 50px;"></i>
      <span style="font-size:16px;">Aprendiz</span>
    </a>
  </li>

  <li class="nav-item">
    <a class="nav-link" title="Gestores" [routerLink]="['/gestores']">
      <i class="fas fa-user-tie" style="color:white;width:20px;margin-left:50px;"></i>
      <span style="font-size:16px;">Gestores</span>
    </a>
  </li>

  <li class="nav-item">
    <a class="nav-link" title="Sair" (click)="logout()">
      <i class="fas fa-sign-out-alt" style="color: white; width: 20px; margin-left: 50px;"></i>
      <span style="font-size:16px;">Sair</span>
    </a>
  </li>
</ul>