<div class="d-flex justify-content-between align-items-center mb-3">
  <div style="width: 15%; text-align: left;">
    <img src="assets/img/logo.png" alt="votacao" style="width: 80%;">
  </div>
  <div class="container">
    <div class="profile-dropdown">
      <button class="profile-button">
        <i class="bi bi-person-circle" style="font-size: 1.5rem;"></i> Perfil Teste
      </button>

      <!-- Dropdown Menu -->
      <div class="dropdown-content">
        <a href="#">  <i class="bi bi-box-arrow-right" style="margin-left:10px;margin-right:10px;"></i>Sair</a>
      </div>
    </div>

  </div>
</div>

<div class="card mb-4" style=" margin-top: -15px;">
  <div class="card-header py-3 d-flex align-items-center justify-content-between bg-transparent">
    <h1 class="m-0">Lista de Atividades</h1>
  </div>
  <div class="button-container">
    <button class="btn btn-primary rounded d-flex align-items-center btn-add">
      <span class="d-none d-md-block" (click)="cadastroAtividade()">Adicionar Atividade</span>
    </button>
  </div>
  <div class="mb-3">
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th style="width: 150px;">Ações</th>
              <th>Status</th>
              <th>Nome da Atividade</th>
              <th>Gestor</th>
              <th>Feedback</th>
            </tr>
            <tr>
              <th></th>
              <th>
                <select class="form-control filter" style="margin-left:35px;"  [(ngModel)]="filter.envio" (change)="applyFilters()">
                  <option [ngValue]="undefined">Selecione...</option>
                  <option [ngValue]="true">ENVIADO</option>
                  <option [ngValue]="false">PENDENTE</option>
                </select>
              </th>
              <th>
                <input class="form-control filter" placeholder="Filtrar Atividade" style="margin-left:45px;"  [(ngModel)]="filter.nome_atividade" name="nome_atividade" (input)="applyFilters()">
              </th>
              <th>
                <input class="form-control filter" placeholder="Filtrar Gestor" style="margin-left:45px;"  [(ngModel)]="filter.gestor" name="gestor" (input)="applyFilters()">
              </th>
              <th>
                <input class="form-control filter" placeholder="Filtrar Feedback" style="margin-left:45px;"  [(ngModel)]="filter.feedback" name="feedback" (input)="applyFilters()">
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let atividade of filteredAtividades">
              <td>
                <button class="excluir" title="Excluir" (click)="excluirAtividade(atividade)">
                  <i class="fas fa-trash"></i> Excluir
                </button>
              </td>
              <td>{{ atividade.envio ? 'ENVIADO' : 'PENDENTE' }}</td>
              <td>{{ atividade.nome_atividade }}</td>
              <td>{{ atividade.gestor }}</td>
              <td>{{ atividade.feedback }}</td>
            </tr>
            <tr *ngIf="filteredAtividades.length === 0">
              <td colspan="5" class="text-center">Não há registros</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
